@charset "UTF-8";

/* 
 tudo que em HTML é ID = em CSS se torna # (só pode um elemento por página)
 tudo que em HTML é class = em CSS se torna . (pode vários elementos)
*/

body {
    background-color: #97FCBE;
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    color: rgb(49, 28, 3);
}

h1#titulo {
    text-align: center;
    background-color: #8FF0B4;
    padding: 15px;
}

.principal {
    text-align: center;
    padding: 20px;
}

h2 {
    color: rgb(41, 25, 6);
}

.destaque{
    background-color: rgba(248, 248, 6, 0.671);
}