body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    background-color: lightgray;
    text-align: center;
}


table {
    margin: 1rem;
    border-collapse: collapse;
}

th {
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    padding: 1rem;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 1rem;
}

td.area, td.media {
    font-weight: bold;
    text-align: center;
}

td.numeros {
    border: 1px solid black;
    text-align: right;
}

td.media {
    text-align: left;
}

td.numeros, td.media {
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
}